<div class="aam-feature" id="utilities-content">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="70%"><?php echo __('Option', AAM_KEY); ?></th>
                <th><?php echo __('Action', AAM_KEY); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h4><?php echo __('Caching', AAM_KEY); ?></h4>
                    <p class="text-justify">
                        <?php echo __('Speed up the AAM execution by caching the most time and resource consuming requests to your database. Each time the caching is disabled, all cache is flashed automatically.', AAM_KEY); ?>
                    </p>
                </td>
                <td>
                    <input data-toggle="toggle" data-on="<?php echo __('Enabled', AAM_KEY); ?>" data-off="<?php echo __('Disabled', AAM_KEY); ?>" type="checkbox" name="caching" <?php echo ($this->getProperty('caching', false) ? 'checked' : ''); ?> />
                </td>
            </tr>
            <tr>
                <td>
                    <h4><?php echo __('Edit/Delete capabilities', AAM_KEY); ?></h4>
                    <p class="text-justify">
                        <?php echo AAM_Backend_Helper::preparePhrase(__('[Please notice!] This feature should be used only by experienced users. Toggle an ability to edit or delete capabilities. [Available since AAM release 3.0.6]', AAM_KEY), 'strong', 'small'); ?>
                    </p>
                </td>
                <td>
                    <input data-toggle="toggle" data-on="<?php echo __('Enabled', AAM_KEY); ?>" data-off="<?php echo __('Disabled', AAM_KEY); ?>" type="checkbox" name="manage-capability" <?php echo ($this->getProperty('manage-capability', false) ? 'checked' : ''); ?> />
                </td>
            </tr>
            <tr>
                <td>
                    <h4><?php echo __('Clear all settings', AAM_KEY); ?></h4>
                    <p class="text-justify">
                        <?php echo __('Remove all the settings related to AAM (including all extension licenses).', AAM_KEY); ?>
                    </p>
                </td>
                <td>
                    <a href="#clear-settings-modal" data-toggle="modal" class="btn btn-danger btn-block">Clear Settings</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="clear-settings-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="<?php echo __('Close', AAM_KEY); ?>"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><?php echo __('Confirmation', AAM_KEY); ?></h4>
                </div>
                <div class="modal-body">
                    <p class="text-center aam-notification-message"><?php echo __('All settings related to AAM will be removed. Please confirm your action.', AAM_KEY); ?></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="clear-settings"><?php echo __('Remove', AAM_KEY); ?></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo __('Cancel', AAM_KEY); ?></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-capability-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="<?php echo __('Close', AAM_KEY); ?>"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><?php echo __('Edit Capability', AAM_KEY); ?></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="capability-id"><?php echo __('Capability ID', AAM_KEY); ?><span class="aam-asterix">*</span></label>
                    <input type="text" class="form-control" id="capability-id" placeholder="<?php echo __('Enter Capability', AAM_KEY); ?>" />
                </div>
                <p class="aam-info aam-hint"><?php echo AAM_Backend_Helper::preparePhrase(__('[Please notice!] Capability ID will be updated for all roles. Any functionality that depends on current Capability ID may not work properly.', AAM_KEY), 'strong'); ?></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="update-capability-btn"><?php echo __('Update Capability', AAM_KEY); ?></button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo __('Close', AAM_KEY); ?></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-capability-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="<?php echo __('Close', AAM_KEY); ?>"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><?php echo __('Delete Capability', AAM_KEY); ?></h4>
            </div>
            <div class="modal-body">
                <p class="text-center aam-confirm-message" data-message="<?php echo __('Are you sure that you want to delete %s capability?', AAM_KEY); ?>"></p>
                <p class="aam-info aam-hint"><?php echo AAM_Backend_Helper::preparePhrase(__('[Warning!] Capability ID will be delete only for current role. Capability can be deleted completely only for the Administrator role. Any functionality that depends on this Capability ID may not work properly.', AAM_KEY), 'strong'); ?></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="delete-capability-btn"><?php echo __('Delete Capability', AAM_KEY); ?></button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo __('Close', AAM_KEY); ?></button>
            </div>
        </div>
    </div>
</div>