#login h1 a
{
	background-color: #FFFFFF;
	background-image: url("../images/logo_crf.png") !important;
	background-size: 100%;
	width: 206px;
	height: 87px;
	border-radius: 8px;
}

section[data-type="etablissements"] select
{
	width: 15%;
	min-width: 10em;
}
section[data-type="etablissements"] input[type="text"]
{
	width: 25%;
	min-width: 25em;
}
section[data-type="etablissements"] input[type="tel"]
{
	width: 10%;
	min-width: 10em;
}
section[data-type="etablissements"] input[type="email"]
{
	width: 10%;
	min-width: 10em;
}
section[data-type="etablissements"] textarea
{
	display: block;
	height: 5em;
	width: 61%;
	min-width: 57em;
}
section[data-type="etablissements"]
{
	margin-bottom: 1em;
}

#login .button-primary.active,
#login .button-primary.active:focus,
#login .button-primary.active:hover,
#login .button-primary:active
{
	background: #aa3600 none repeat scroll 0% 0%;
	border-color: #823200;
}

#login .button-primary
{
	background: #d23100 none repeat scroll 0 0;
	border-color: #aa3600;
	box-shadow: 0 1px 0 rgba(230, 149, 120, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
}

#login .button-primary.focus,
#login .button-primary.hover,
#login .button-primary:focus,
#login .button-primary:hover
{
	background: #cd3d00 none repeat scroll 0 0;
	border-color: #aa3600;
	box-shadow: 0 1px 0 rgba(230, 149, 120, 0.6) inset;
}

#login input[type="checkbox"]:focus,
#login input[type="color"]:focus,
#login input[type="date"]:focus,
#login input[type="datetime-local"]:focus,
#login input[type="datetime"]:focus,
#login input[type="email"]:focus,
#login input[type="month"]:focus,
#login input[type="number"]:focus,
#login input[type="password"]:focus,
#login input[type="radio"]:focus,
#login input[type="search"]:focus,
#login input[type="tel"]:focus,
#login input[type="text"]:focus,
#login input[type="time"]:focus,
#login input[type="url"]:focus,
#login input[type="week"]:focus,
#login select:focus,
#login textarea:focus
{
	border-color: #d9985b;
	box-shadow: 0 0 2px rgba(190, 81, 30, 0.8);
}

.login #backtoblog a:hover,
.login #nav a:hover,
.login h1 a:hover
{
	color: #d23100;
}

th,
.widefat th{
	font-weight: bold;
}
