
.lr_horizontal_share
{
	display: inline-block;
	border-top: 1px solid #EEEEEE !important;
	width: auto;
}

.lr_horizontal_share:before
{
	display: block !important;
	content: "Vous aimez ? Partagez !"  !important;
	text-align: left;
	color: #AAAAAA;
} 

