/* ----------------------------------------------------------------------------------
	RESPONSIVE LAYOUTS
---------------------------------------------------------------------------------- */

@media only screen and (max-width: 1360px) { /* 1280px + 80px */

	/*
	#logo
	{
		display: relative !important;
	}
	*/
	
	.lrshare_interfacebox
	{
		display: block;
		/*
		position: absolute !important;
		right: 1px !important;
		bottom: 0 !important;
		left: auto !important;
		top: auto !important;		
		*/
		position: relative !important;
		width: 100%;
		text-align: center;
	}
	.lrshare_interfacebox:before
	{
		content: "Partagez !";
		border-top: 1px solid #ccc;
	}

	.lrshare_interfacebox lr
	{
		text-align: center;
	}
		
	.lrshare_interfacebox lrc
	{
		display: inline-block;
	}
		
}

/* Desktop / Laptop */
@media only screen and (max-width: 960px) {
}
	
/* iPad & Tablet */
@media only screen and (max-width: 768px) {


	#pre-header-core
	{
		display: block;
	}
	
	#pre-header
	{
		position: relative;
		text-align: center;
		display: block;
	}
	
	#header-contact
	{
		display: block;
		float: none;
	}
	
	#header-contact > a.mini-contacts.address.street-address
	{
	}

	#header-contact > a.mini-contacts.address.street-address:after
	{
	}
	
	#header-contact > a.mini-contacts.phone.tel
	{
	}
	
	#header-contact > a.mini-contacts.email
	{
	}
	
	#pre-header-social
	{
		display: block;
		float: none;
		width: 100%;
		text-align: center;
	}
	
	#pre-header-social ul
	{
		display: inline-block;
		float: none;
		margin: auto;
	}
	
	#pre-header-social ul li
	{
		display: inline-block;
	}
	
	/* Header */
	
	#logo h1.responsive-hidden,
	#pre-header.responsive-hidden
	{
		display: none !important;
	}
	
	#header
	{
		margin-top: 0 !important;
	}
	
	#logo
	{
		border-top: none !important;
		display: block !important;
		height: auto !important;
		min-height: 0 !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		margin-top: 0 !important;
		padding: 0 !important;
		position: relative !important;
		text-align: center !important;
		vertical-align: inherit !important;
		width: 100% !important;
	}

	#logo a
	{
		display: block !important;
	}
	
	#logo h1
	{
		display: block !important;
		font-size: 1em !important;
		font-weight: normal !important;
		text-align: center !important;
		margin: inherit !important;
		margin-bottom: 1em !important;
	}
	
	#logo > a:first-child
	{
		display: none !important;
		visibility: hidden !important;
	}
	
	#logo img
	{
		display: none !important;
		visibility: hidden !important;
	}

	
	body.js_active #header div.header-row
	{
		display: block !important;
	}
	
	#header div.header-row
	{
		text-align: center;
		height: 16px;
		width: 100%;
	}
	
	#header div.header-row div.row
	{
	    border-left: 7px solid transparent;
	    border-right: 7px solid transparent;
		cursor: pointer;
		display: inline-block;
		height: 1px;
		margin-left: -7px;
		position: absolute;
		width: 1px;
	}
	#header div.header-row div.row.row-top
	{
	    border-bottom: 8px solid red;
	    border-bottom-color: #9e9e9e;
	}
	#header div.header-row div.row.row-bottom
	{
	    border-top: 8px solid red;
	    border-top-color: #9e9e9e;
	}
	
	#header-responsive a
	{
		background-color: #FF3A3A;
		border: 1px solid #DD2929;
	}

	#header-responsive-inner li,
	#header-responsive-inner li a
	{
		background-color: #FFF;
		text-transform: uppercase;
	}
	
	#header-responsive-inner ul
	{
		border-bottom: 1px solid #DD2929 !important;
	}
	
	
	#header-responsive
	{
		position: relative;
	}
	

	#header-responsive a:before
	{
		content: "Menu";
		display: block;
		position: absolute;
		text-align: center;
		top: 0; /*
		left: 50%; */
		right: 40px; /*
		margin-left: -2em; */
		margin-top: 6px;
		color: #FFF;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: bold;
	}

	/* Menu */

	ul#menu-rubriques
	{
		display: block !important;
		width: 100%;
		text-align: center;
	}
	ul#menu-rubriques li
	{
		display: inline-block !important;
		min-width: 40%;
	}
	ul#menu-rubriques li p,
	ul#menu-rubriques li a
	{
		display: none;
	}	
	
	/* Slider */

	/* Intro / Outro */

	/* Footer */

	/* Sidebar */

	/* Blog */

	/* Post */

	/* Portfolio */

	/* Project */

	/* Contact */

	/* Widgets */

}


/* Small Tablets & Larger Phones */
@media only screen and (max-width: 685px) {

	/* Main */

	/* Featured Slider */

	/* Portfolio */

	/* Single Post Share */

	/* Intro / Outro */	
}


/* iPhone (Landscape) */
@media only screen and (max-width: 568px) {

	/* Main */

	/* Featured Slider */

	/* Portfolio */
	/* Blog */

	/* Single Post */
	
	/* Single Post Share */	
	
	/* Intro / Outro */

	/* Shortcode Content */

	/* Bootstrap Menu */
	
	/* Widgets */
}


/* iPhone (Portrait) */
@media only screen and (max-width: 320px) {

	/* Single Post Share */

	/* Portfolio */

	/* Shortcodes */

}


/* Retina Display */
@media only screen and 
        (-webkit-min-device-pixel-ratio: 1.5), only screen and 
        (-o-min-device-pixel-ratio: 3/2), only screen and 
        (min-device-pixel-ratio: 1.5) {
}