/*
Theme Name: CRF - DD
Description: Thème Wordpress pour les structures Croix-Rouge Française, inspirée du graphisme de la délégation départementale 92 (Hauts-de-Seine) de 2015-2016
Author: Francois RAOULT - Croix-Rouge Française - Délégation départementale des Hauts-de-Seine (92)
Author URI: http://92.croix-rouge.fr
Version: 1.0.0
Template: minamaze
*/



/* ---------------------------------------------------------------------------------------
	00. @IMPORT
--------------------------------------------------------------------------------------- */

@import url("../minamaze/style.css");
@import url("css/style-responsive.css");
@import url("css/map.css");
@import url("css/social.css");
@import url("css/contact.css");

/* ---------------------------------------------------------------------------------------
	01. RESET
--------------------------------------------------------------------------------------- */

html
{
	font: normal normal normal 14px / 24px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
	word-spacing: normal;
	color: #888888;
	background-image: url("images/bg-image.jpg");
}



/* ---------------------------------------------------------------------------------------
	02. GLOBAL
--------------------------------------------------------------------------------------- */
body,
button,
input,
select,
textarea {
	color: inherit; /*#888; */
	font-family: inherit; /* Sans, Helvetica, Arial; */
	font-size: inherit; /* 12px; */
	line-height: inherit; /* 1.7; */
	word-wrap: break-word;
}

input:not([type=submit]),
select,
textarea {
	background: #FBFCFC !important;
	border-color: #EAEAEA !important;
	border-radius: 4px 4px 0 0;
}

input[type=submit]
{
	border-radius: 4px;
}

div.mapsmarker
{
	margin: auto;
}


/* Links */

#content section[data-type="main-content"] a,
#content section[data-type="main-content"] a:visited
{
	color: #F33F3F;
}

#content section[data-type="main-content"] a:hover
{
	text-decoration: underline;
}


#intro-core
{
	background: #F8F8F8;
	border-top: 1px solid #EEE;
	padding-top: 20px;
}

/* ---------------------------------------------------------------------------------------
	03. STRUCTURE
--------------------------------------------------------------------------------------- */

#pre-header-core,
#header-core,
#header-links-inner,
#content-core,
#footer-core,
#sub-footer-core,
#notification-core,
#introaction-core,
#outroaction-core
{
	max-width:100% !important;
}

#pre-header
{
	background-color: #FFF;	
}

/* Boxed layout */

body.custom-background #body-core
{
	max-width: 1280px;
}


/* ---------------------------------------------------------------------------------------
	04. MEDIA
--------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------
	05. NAVIGATION
--------------------------------------------------------------------------------------- */


/* =Pagination
----------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------
	06. HEADER
--------------------------------------------------------------------------------------- */

/* =Contact
----------------------------------------------------------------------------- */

#pre-header-core .mini-contacts
{
	padding-left: 22px;
	position; relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
	background-repeat: no-repeat;
	background-position: 0px center;
	white-space: nowrap;
	margin-right: 20px;
	margin-left: 0;
	color: #9E9E9E;
}
#pre-header-core .mini-contacts a 
{
	color: inherit;
}
#pre-header-core .mini-contacts a:hover 
{
	text-decoration: underline;
}


#pre-header-core .mini-contacts.address
{
	background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><path fill="%239e9e9e" d="M0.811,6.892l1.188-0.95v7.06c0,0.553,0.448,1,1,1h3c0.552,0,1-0.447,1-1v-4h2v4c0,0.553,0.448,1,1,1h3c0.552,0,1-0.447,1-1v-7.06l1.188,0.95C15.279,6.964,15.389,7,15.499,7c0.147,0,0.292-0.064,0.392-0.188c0.172-0.216,0.137-0.53-0.078-0.703l-7.5-6c-0.183-0.146-0.442-0.146-0.625,0L4.779,2.457l0.002-1.488c0,0-0.341-0.01-0.894-0.01C3.336,0.959,2.999,1,2.999,1v2.859l-2.812,2.25c-0.215,0.173-0.25,0.487-0.078,0.703C0.281,7.029,0.595,7.063,0.811,6.892z M7.999,1.14l5,4v7.861h-3v-5h-4v5h-3V5.142L7.999,1.14z"/></svg>');
}

#pre-header-core .mini-contacts.phone
{
	background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><path fill="%239e9e9e" d="M10.938,11.047c-0.07-0.388-0.134-0.632-0.328-0.812c-0.096-0.088-0.252-0.257-0.452-0.278c-0.045-0.005-0.176,0.002-0.222,0.011l-1.311,0.486C8.461,10.193,7.907,9.517,7.906,7.5c0-2.031,0.523-2.652,0.688-2.906l1.343,0.439c0.045,0.008,0.088,0.013,0.133,0.012c0.509,0.002,0.668-0.389,0.821-1.014l0.391-2.516c0.003-0.023,0.016-0.335,0.016-0.359c0-0.327,0.058-0.465-0.203-0.703c-0.224-0.206-0.377-0.298-0.677-0.305L8.115,0.001C8.1,0.001,8.085,0,8.068,0C6.869,0,6.328,0.703,5.55,2.504C5.031,4.25,4.875,5.921,4.875,7.5c0,2.531,1.225,5.85,2.013,6.955l0,0C7.282,14.816,7.679,15,8.068,15c0.017,0,0.032-0.001,0.047-0.002l2.302-0.146c0.664-0.016,0.849-0.294,0.849-0.945 M8,0.859l2.487,0.221L9.984,4.006l-1-0.271c-0.02-0.003-0.103-0.014-0.125-0.016c-0.31-0.031-0.535-0.056-0.78,0.146C7.447,4.386,7.063,6.111,7.094,7.5c0.038,1.737,0.337,3.044,0.935,3.59l0,0c0.254,0.234,0.579,0.346,0.914,0.312c0.021-0.002,0.041-0.006,0.062-0.01l0.994-0.414l0.36,2.858l-2.103,0.226C8.222,14.047,8,14.005,7.751,13.89c-0.672-0.812-1.86-2.765-2.063-6.39C5.688,7.649,5.281,1.719,8,0.859z"/></svg>');
}

#pre-header-core .mini-contacts.email
{
	background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><path fill="%239e9e9e" d="M14.001,2H1C0.448,2,0,2.447,0,3v8.98C0.027,12.484,0.5,13,1,13h13.001C14.506,13,15,12.521,15,12.002V3C15,2.447,14.553,2,14.001,2z M5.734,8.547L7.5,9.828l1.641-1.203L14,11.354l0.004,0.647l-13.02,0.014l0.014-0.683L5.734,8.547z M0.979,10.354L0.953,4.656l4.156,3.25L0.979,10.354z M9.828,8L14,4.641v5.755L9.828,8z M14.001,3v0.618l-0.021-0.03l-6.48,5.1L1,3.637V3H14.001z"/></svg>');
}


/* =Main
----------------------------------------------------------------------------- */
.site-description 
{
	color: #777777;
	font-size: 13px;
	line-height: 13px;
}
#logo
{
	display: table;
	float: none;
	min-height: 90px;
	position:relative;
	width: 92%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 28px;
	margin: 0;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
#logo a
{
	display: table-cell;
	vertical-align: middle;
}

#logo a:first-child
{
	text-align: left;
}

#logo img
{
	/* width: 206px; */
	width: auto;
	height: 87px;
	max-width: 206px;
	max-height: 87px;
	margin: 0;
}
#logo h1
{
	color: #9E9E9E !important;
	text-align: right;
}

#logo a:nth-child(2):after
{
	clear: both;
}


/* =Menu
----------------------------------------------------------------------------- */

/* Site-header */

/* Pre-header */

/* Pre-header - Search */

/* Search input placeholder text color */

/* Pre-header - Social Media */

#pre-header-search form.searchform input.search
{
	background: #FFF;
	border: 1px solid #DDD;
}

#pre-header-social li a
{
	background: #F0F0F0;
	color: #9E9E9E;
}

#pre-header-social li a:hover
{
	/* background: #FF3A3A !important; */
	color: #FFF;
}

/* Header */

#header-links
{
	float: none;
}


#header-links-inner
{
	width: 92%;
	padding-left: 4%;
	padding-right: 4%;
}

#header-links-inner ul li
{
	text-transform: uppercase;
	font-weight: bold;
}

#header div.header-row
{
	display: none;
}

/* Header - Style 2 */

/* Moving sub-menu items right */

/* Arrows of menu parents (uses FontAwesome css) */

/* My custom menu */

div.menu-rubriques-container
{
	display: table;
	width: 90%;
	margin: auto;
}

ul#menu-rubriques
{
	display: table-row;
	list-style-type: none;
	text-align: center;
}

ul#menu-rubriques li
{
	display: table-cell;
	padding-left: 14px;
	padding-right: 14px;
	width: 25%;
} 

ul#menu-rubriques li a
{
	font-weight: bold;
	display: block;
}

ul#menu-rubriques li a:hover
{
	color: #F33F3F;
}

ul#menu-rubriques li:first-child
{
	margin-right: 1%;
}

ul#menu-rubriques li a:after
{
	display:block;
	content:"";
	width:100%;
	height:64px;
	background-size: 64px;
	background-position: center;
	background-repeat: no-repeat;
}

ul#menu-rubriques li.nous-trouver a:after
{
	background-image: url("images/logo-noustrouver.gif");
}

ul#menu-rubriques li.faire-un-don a:after
{
	background-image: url("images/logo-don.gif");
}

ul#menu-rubriques li.se-former a:after
{
	background-image: url("images/logo-former.gif");
}

ul#menu-rubriques li.s-engager a:after
{
	background-image: url("images/logo-engager.gif");
}


/* =Bootstrap Menu
----------------------------------------------------------------------------- */


/* =Slider
----------------------------------------------------------------------------- */


/* =Intro Options
----------------------------------------------------------------------------- */


/* =Notification Bar
----------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------
	07. MAIN CONTENT
--------------------------------------------------------------------------------------- */

/* =Comments
----------------------------------------------------------------------------- */
#comments
{
	margin-top: 3em;
}

#comments h3
{
	background-position: 0 0;
	background-repeat: no-repeat;
	border-top: 1px solid #CCCCCC;
	padding-bottom: 1em;
	font-size: 12px;
	color: #AAAAAA;
}

#comments #respond h3
{
	background: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><path fill="rgba(136,136,136,0.5)" d="M10.021,9.959L9.333,7.5L4.555,2.756L2.756,4.555L7.271,9.25L10.021,9.959z M0.373,0.373c-0.497,0.497-0.497,1.302,0,1.799l1.324,1.324l1.799-1.799L2.172,0.373C1.675-0.124,0.87-0.124,0.373,0.373z M14,2H6.911L8,3.125l5.854,0.021l0.041,10.729H3.125L3.146,8L2,6.911V14c0,0.553,0.448,1,1,1h11c0.553,0,1-0.447,1-1V3C15,2.448,14.553,2,14,2z"/></svg>');
	background-position: 0 0;
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 1em;
	font-size: 12px;
	color: #AAAAAA;
}

#comments a
{
	color: #F33F3F;
}

#comments a:hover
{
	text-decoration: underline;
}

/*
#comments  #respond
{
	width: 75%;
}
*/

#comments  #respond .comment-form-author
{
	float: none !important;
	display: block;
	margin: 0;
	padding: 0;
}

#comments  #respond .comment-form-email
{
	float: none !important;
	display: block;
	margin: 0;
	padding: 0;
}

#comments #respond .comment-form-author
{
	float: none !important; 
	display: block;
	margin: 0;
	padding: 0;
}

#comments #respond .comment-form-url
{
	float: none !important; 
	display: block;
	margin: 0;
	padding: 0;
}

#comments #respond .cptch_block
{
	float: none !important;
	display: block;
	margin: 0;
	padding-top: 1em;
}

#comments #respond .cptch_block br
{
	display: none;
	visibility: hidden;
	position: absolute;
	top: -9999px;
	left: -99999px;
}

#comments #respond .comment-form-comment
{
	margin-top: 1em;
}

#comments #respond label
{
	margin: 0;
}

#comments #respond input:not([type=submit])
{
	margin: 0;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
}

#comments #respond textarea
{
	margin: 0;
}


/* =Buttons
----------------------------------------------------------------------------- */



/* =Breadcrumbs
----------------------------------------------------------------------------- */
#breadcrumbs
{
	padding-right: 10px;
}


/* =Pre-Designed Homepage (code also in style-responsive.css)
----------------------------------------------------------------------------- */

/*
#section-home-inner {
	max-width: 100%;
}
#section-home .section {
	display: inline-block;
	background: transparent;
	padding: 10px;
	border: none;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
#section-home .entry-header {
	width: 100%;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

#section-home img {
	margin: 0 auto;
	display: block;
	width: 64px;
	height: 64px;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
#section-home .entry-content {
	padding-top: 0px;
}
#section-home h3 {
	font-size: 14px;
}
#section-home .more-link {
	display: none;
}
#section-home .more-link:after {
	content: '';
	display: none;
}
*/

/* =Call to Action / Attention Grabber
----------------------------------------------------------------------------- */


/* =Floating Content
----------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------
	08. FOOTER
--------------------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------
	09. WIDGETS & SIDEBAR
--------------------------------------------------------------------------------------- */

/* =Sidebar
--------------------------------------------------------------------------------------- */


/* =Widgets
--------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------
	10. PAGE FORMATS
--------------------------------------------------------------------------------------- */

/* =Meta Content
----------------------------------------------------------------------------- */


/* =Blog - Style 1
--------------------------------------------------------------------------------------- */


/* =Single Post
--------------------------------------------------------------------------------------- */


/* =Contact Us
--------------------------------------------------------------------------------------- */

/* =Archive
--------------------------------------------------------------------------------------- */

/* =Sitemap
--------------------------------------------------------------------------------------- */

/* =Parallax
--------------------------------------------------------------------------------------- */

/* =Search Results
--------------------------------------------------------------------------------------- */

/* =404 Error
--------------------------------------------------------------------------------------- */


/* =Portfolio (styling code in style-portfolio.css)
--------------------------------------------------------------------------------------- */

/* =Project
--------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------
	11. IE STYLES
--------------------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------
	12. SAFARI STYLES
--------------------------------------------------------------------------------------- */
.wrap-safari {
	max-width:100%;
	padding-left: 4%;
	padding-right: 4%;
}


/* ---------------------------------------------------------------------------------------
	13. MISC
--------------------------------------------------------------------------------------- */

