/*
 * Page de login
 */

#login h1 a
{
	background-color: #FFFFFF;
	background-image: url("../images/logo_crf.png") !important;
	/* background-size: 100%; */
	background-size: 206px 87px;
	/* width: 206px; */
	width: 100%;
	height: 87px;
	/* border-radius: 8px; */
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 1px solid #FF0000;
	box-shadow: 0px 3px 5px #FFCCCC;
}

body.interim-login #login h1 a
{
	position: static;
	border-top: 1px solid #FF0000;
	box-shadow: none;
}
/*
#login h1:after
{
	content: "Identification";
}
*/

#login p.message
{
	border-left-color: #d23100;
}

iframe#wp-auth-check-frame
{
	margin:0;
}

#login .button-primary.active,
#login .button-primary.active:focus,
#login .button-primary.active:hover,
#login .button-primary:active
{
	background: #cc0000 none repeat scroll 0% 0%;
	border-color: #990000;
}

#login .button-primary
{
	background: #ff0000 repeat scroll 0 0;
	border-color: #cc0000;
	box-shadow: 0 1px 0 rgba(230, 149, 120, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
	text-shadow: 0 -1px 1px #cc0000,1px 0 1px #cc0000,0 1px 1px #cc0000,-1px 0 1px #cc0000;
}

#login .button-primary.focus,
#login .button-primary.hover,
#login .button-primary:focus,
#login .button-primary:hover
{
	background: #cc0000 none repeat scroll 0 0;
	border-color: #990000;
	box-shadow: 0 1px 0 rgba(230, 149, 120, 0.6) inset;
}

#login input[type="checkbox"]:focus,
#login input[type="color"]:focus,
#login input[type="date"]:focus,
#login input[type="datetime-local"]:focus,
#login input[type="datetime"]:focus,
#login input[type="email"]:focus,
#login input[type="month"]:focus,
#login input[type="number"]:focus,
#login input[type="password"]:focus,
#login input[type="radio"]:focus,
#login input[type="search"]:focus,
#login input[type="tel"]:focus,
#login input[type="text"]:focus,
#login input[type="time"]:focus,
#login input[type="url"]:focus,
#login input[type="week"]:focus,
#login select:focus,
#login textarea:focus
{
	border-color: #B28D47;
	box-shadow: 0 0 2px rgba(190, 81, 30, 0.8);
}

#login input[type=checkbox]:checked:before
{
	color: #FF0000;
}

#login input[type=radio]:checked:before
{
	background: #FF0000;
}

.login #backtoblog a:hover,
.login #nav a:hover,
.login h1 a:hover
{
	color: #F33F3F;
}

body:not(.interim-login).login:after
{
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
	content: "Unité locale de la Croix-Rouge Française - Identification";
	color: #FFFFFF;
	background: #000000;
	height: 2em;
	font-size: 1em;
	text-align: center;
	box-shadow: 0px -3px 5px #FFFFFF;
	border-top: 1px solid #FFFFFF;
}
