.ssba.ssba-wrap,
.lr_horizontal_share
{
	display: inline-block;
	border-top: 1px solid #EEEEEE !important;
	width: auto;
	margin-top: 2em !important;
}

.ssba.ssba-wrap:before,
.lr_horizontal_share:before
{
	display: block !important;
	content: "Vous aimez ? Partagez !"  !important;
	text-align: left;
	color: #AAAAAA;
} 
