table.lmm-listmarkers-table
{
	text-align: left;
}

div.leaflet-marker-pane img.leaflet-marker-icon
{
	/* format sans css : 32 x 37 */
	/* format des icones : 32 x 50 */
		
	width: auto !important;
	height: 37px !important;
}