/*
 * Button mixin- creates 3d-ish button effect with correct
 * highlights/shadows, based on a base color.
 */
html {
  background: #FFFFFF; }

/* Links */
a {
  color: #FF0000; }
  a:hover, a:active, a:focus {
    color: #FF0000; }

#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover {
  color: #FF0000; }

/* Forms */
input[type=checkbox]:checked:before {
  color: #FF0000; }

input[type=radio]:checked:before {
  background: #FF0000; }

.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active {
  color: #FF0000; }

/* Core UI */
.wp-core-ui .button-primary {
  background: #FF0000;
  border-color: #cc0000 #b30000 #b30000;
  color: white;
  box-shadow: 0 1px 0 #b30000;
  text-shadow: 0 -1px 1px #b30000, 1px 0 1px #b30000, 0 1px 1px #b30000, -1px 0 1px #b30000; }
  .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
    background: #ff0f0f;
    border-color: #b30000;
    color: white;
    box-shadow: 0 1px 0 #b30000; }
  .wp-core-ui .button-primary:focus {
    box-shadow: inset 0 1px 0 #cc0000, 0 0 2px 1px #33b3db; }
  .wp-core-ui .button-primary:active {
    background: #cc0000;
    border-color: #b30000;
    box-shadow: inset 0 2px 0 #b30000; }
  .wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled, .wp-core-ui .button-primary.disabled {
    color: #d1c7c7 !important;
    background: #d60000 !important;
    border-color: #b30000 !important;
    text-shadow: none !important; }
  .wp-core-ui .button-primary.button-hero {
    box-shadow: 0 2px 0 #b30000 !important; }
    .wp-core-ui .button-primary.button-hero:active {
      box-shadow: inset 0 3px 0 #b30000 !important; }
.wp-core-ui .wp-ui-primary {
  color: #FFFFFF;
  background-color: #000000; }
.wp-core-ui .wp-ui-text-primary {
  color: #000000; }
.wp-core-ui .wp-ui-highlight {
  color: #FF0000;
  background-color: #000000; }
.wp-core-ui .wp-ui-text-highlight {
  color: #000000; }
.wp-core-ui .wp-ui-notification {
  color: #FFFFFF;
  background-color: #B28D47; }
.wp-core-ui .wp-ui-text-notification {
  color: #B28D47; }
.wp-core-ui .wp-ui-text-icon {
  color: #FFFFFF; }

/* List tables */
.wrap .add-new-h2:hover,
.wrap .page-title-action:hover,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
  color: #FFFFFF;
  background-color: #000000; }

.view-switch a.current:before {
  color: #000000; }

.view-switch a:hover:before {
  color: #B28D47; }

/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: #000000; }

#adminmenu a {
  color: #FFFFFF; }

#adminmenu div.wp-menu-image:before {
  color: #FFFFFF; }

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #FF0000;
  background-color: #000000; }

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #FF0000; }

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  background-color: #FFFFFF;
  border-bottom-color: #FFFFFF; }

/* Admin Menu: submenu */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #404040; }

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #404040; }

#adminmenu .wp-submenu .wp-submenu-head {
  color: #FFFFFF; }

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: #FFFFFF; }
  #adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover,
  #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
  #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
    color: #FF0000; }

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: #FFFFFF; }
  #adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
    color: #FF0000; }

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  border-right-color: #FFFFFF; }

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: text-color;
  background: #FF0000; }

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
.ie8 #adminmenu li.opensub div.wp-menu-image:before {
  color: #FFFFFF; }

/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #FFFFFF;
  background: #B28D47; }

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #FFFFFF;
  background: #404040; }

/* Admin Menu: collapse button */
#collapse-menu {
  color: #FFFFFF; }

#collapse-menu:hover {
  color: #FFFFFF; }

#collapse-button div:after {
  color: #FFFFFF; }

#collapse-menu:hover #collapse-button div:after {
  color: #FF0000; }

/* Admin Bar */
#wpadminbar {
  color: #FFFFFF;
  background: #000000; }

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
  color: #FFFFFF; }

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
  color: #FFFFFF; }

#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #FF0000;
  background: #404040; }

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
  color: #FF0000; }

#wpadminbar:not(.mobile) li:hover .ab-icon:before,
#wpadminbar:not(.mobile) li:hover .ab-item:before,
#wpadminbar:not(.mobile) li:hover .ab-item:after,
#wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
  color: #FF0000; }

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
  background: #404040; }

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #404040; }

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
  color: #FFFFFF; }

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
  color: #FFFFFF; }

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li #adminbarsearch.adminbar-focused:before {
  color: #FF0000; }

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before,
#wpadminbar.mobile .quicklinks .ab-icon:before,
#wpadminbar.mobile .quicklinks .ab-item:before {
  color: #FF0000; }

#wpadminbar.mobile .quicklinks .hover .ab-icon:before,
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
  color: #FFFFFF; }

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
  color: #FFFFFF; }

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #FFFFFF;
  background: #121212; }

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 0.7; }

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
  color: #FFFFFF;
  opacity: 0.7; }

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
  color: #FFFFFF;
  opacity: 0.7; }

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 0.7; }

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-color: #121212;
  background-color: #121212; }

#wpadminbar #wp-admin-bar-user-info .display-name {
  color: #FFFFFF; }

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: #FF0000; }

#wpadminbar #wp-admin-bar-user-info .username {
  color: #FFFFFF; }

/* Pointers */
.wp-pointer .wp-pointer-content h3 {
  background-color: #FF0000;
  border-color: #e60000; }

.wp-pointer .wp-pointer-content h3:before {
  color: #FF0000; }

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
  border-bottom-color: #FF0000; }

/* Media */
.media-item .bar,
.media-progress-bar div {
  background-color: #FF0000; }

.details.attachment {
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #FF0000; }

.attachment.details .check {
  background-color: #FF0000;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #FF0000; }

.media-selection .attachment.selection.details .thumbnail {
  -webkit-box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #FF0000;
  box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #FF0000; }

/* Themes */
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover:after,
.theme-browser .theme.add-new-theme a:focus:after {
  background: #FF0000; }

.theme-browser .theme.add-new-theme a:hover span:after,
.theme-browser .theme.add-new-theme a:focus span:after {
  color: #FF0000; }

.theme-section.current,
.theme-filter.current {
  border-bottom-color: #000000; }

body.more-filters-opened .more-filters {
  color: #FFFFFF;
  background-color: #000000; }

body.more-filters-opened .more-filters:before {
  color: #FFFFFF; }

body.more-filters-opened .more-filters:hover,
body.more-filters-opened .more-filters:focus {
  background-color: #000000;
  color: #FF0000; }

body.more-filters-opened .more-filters:hover:before,
body.more-filters-opened .more-filters:focus:before {
  color: #FF0000; }

/* Widgets */
.widgets-chooser li.widgets-chooser-selected {
  background-color: #000000;
  color: #FF0000; }

.widgets-chooser li.widgets-chooser-selected:before,
.widgets-chooser li.widgets-chooser-selected:focus:before {
  color: #FF0000; }

/* Customize */
#customize-theme-controls .widget-area-select .selected {
  background-color: #000000;
  color: #FF0000; }

/* Responsive Component */
div#wp-responsive-toggle a:before {
  color: #FFFFFF; }

.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: #000000; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: #404040; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
  color: #FFFFFF; }

/* TinyMCE */
.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item.mce-selected,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item-normal.mce-active,
.mce-container.mce-menu .mce-menu-item-preview.mce-active {
  background: #FF0000; }

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu:hover a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub:hover div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li:hover a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li.opensub:hover div.wp-menu-image:before,
.ie8 #adminmenu li.opensub div.wp-menu-image:before,
.ie8 #adminmenu li.opensub:hover div.wp-menu-image:before {
  color: #FFFFFF; }

.wp-core-ui input[type="checkbox"]:focus,
.wp-core-ui input[type="color"]:focus,
.wp-core-ui input[type="date"]:focus,
.wp-core-ui input[type="datetime-local"]:focus,
.wp-core-ui input[type="datetime"]:focus,
.wp-core-ui input[type="email"]:focus,
.wp-core-ui input[type="month"]:focus,
.wp-core-ui input[type="number"]:focus,
.wp-core-ui input[type="password"]:focus,
.wp-core-ui input[type="radio"]:focus,
.wp-core-ui input[type="search"]:focus,
.wp-core-ui input[type="tel"]:focus,
.wp-core-ui input[type="text"]:focus,
.wp-core-ui input[type="time"]:focus,
.wp-core-ui input[type="url"]:focus,
.wp-core-ui input[type="week"]:focus,
.wp-core-ui select:focus,
.wp-core-ui textarea:focus {
  border-color: #FF0000;
  box-shadow: 0 0 2px rgba(255, 0, 0, 0.8); }

.wp-core-ui input:invalid {
  border-color: #FF0000;
  box-shadow: 0 0 2px rgba(255, 0, 0, 0.8); }

/*# sourceMappingURL=colors.css.map */
