// ------------------------
// Les variables de bases
// ------------------------

$RED: #FF0000;
$PURPLE_LIGHT: #D10049;
$PURPLE_DARK: #69063A;
$ORANGE: #FF5912;
$GREEN_DARK: #222E07;
$GREEN_LIGHT: #586616;
$BEIGE_LIGHT: #D9C883;
$BEIGE_DARK: #B28D47;
$OCEAN_DARK: #295669;
$OCEAN_LIGHT: #6A95A3;
$BLACK: #000000;
$GRAY_DARK: #404040;
$GRAY_LIGHT: #8C8C8C;
$WHITE: #FFFFFF;


$text-color: $WHITE;                                            // Couleur de texte

$base-color: $GRAY_DARK;                                        // Couleur de base des fonds (utilisée par défaut pour la sidebar d'admin + topbar d'admin)
$icon-color: $WHITE;                                            // Couleur des icônes
$highlight-color: $OCEAN_LIGHT;                                 // Couleur d'un menu de sidebar/top bar actif

$notification-color: $ORANGE;                                   // Couleur de base des notifications (nombre de nouveaux coms. ou de MàJ par ex)

$body-background: $WHITE;                                       // Couleur de fond de la page
$link: $RED;                                                    // Couleur des liens dans la page
$link-focus: $PURPLE_DARK;                                      // Couleur des liens de la page au survol
$button-color: $RED;                                            // Couleur des boutons principaux de la page
$form-checked: $button-color;                                   // Couleur de la croix dans les checkbox


// ------------------------
// Le menu d'admin et la topbar d'admin
// ------------------------

$menu-text: $text-color;                                        // Couleur de texte dans la sidebar d'admin + topbar d'admin
$menu-icon: $icon-color;                                        // Couleur des icônes dans la sidebar d'admin + topbar d'admin
$menu-background: $base-color;                                  // Couleur de fond de la sidebar d'admin

$menu-highlight-text: $highlight-color;                         // Item de menu survolé : couleur du texte
$menu-highlight-icon: $highlight-color;                         // Item de menu survolé : couleur de l'icône
$menu-highlight-background: $BLACK;                             // Item de menu survolé : couleur du fond du bloc

$menu-current-text: text-color;                                 // Item de menu sélectionné : couleur du texte
$menu-current-icon: $text-color;                                // Item de menu sélectionné : couleur de l'icône
$menu-current-background: $highlight-color;                     // Item de menu sélectionné : couleur du fond du bloc

$menu-submenu-text: $WHITE;                                     // Item de sous-menu sélectionné : couleur du text
$menu-submenu-background: $BLACK;                               // Couleur principale de sous-menu
$menu-submenu-background-alt: $BLACK;                           // Couleur secondaire de sous-menu (liens topbar "A Propos", liste topbar des sites du network par ex)

$menu-submenu-focus-text: $highlight-color;                     // Item de sous-menu survolé : couleur du texte
$menu-submenu-current-text: $text-color;                        // Item de sous-menu sélectionné : couleur du texte

$menu-bubble-text: $text-color;                                 // Couleur de texte d'une bulle de notification (nombre de nouveaux coms. ou de MàJ par ex)
$menu-bubble-background: $notification-color;                   // Couleur de fond d'une bulle de notification
$menu-bubble-current-text: $text-color;                         // Couleur de texte d'une bulle de notification survolée ou sélectionnée
$menu-bubble-current-background: $menu-submenu-background;      // Couleur de fond d'une bulle de notification survolée ou sélectionnée

$menu-collapse-text: $menu-icon;                                // Couleur de texte du lien "Réduire le menu" en bas de la sidebar
$menu-collapse-icon: $menu-icon;                                // Couleur de l'icône du lien "Réduire le menu" en bas de la sidebar
$menu-collapse-focus-text: $text-color;                         // Couleur de texte du lien "Réduire le menu" en bas de la sidebar au survol
$menu-collapse-focus-icon: $menu-highlight-icon;                // Couleur de l'icône du lien "Réduire le menu" en bas de la sidebar au survol


// ------------------------
// La topbar d'admin
// ------------------------

$adminbar-avatar-frame: lighten( $menu-background, 7% );        // Petite bordure autour de l'avatar en haut à droite dans la topbar
$adminbar-input-background: lighten( $menu-background, 7% );    // Couleur de fond de l'input de recherche dans la topbar

$menu-customizer-text: red;                                     // Aucune idée !


// ------------------------
// On importe la base (colors.scss) puis admin.scss qui vient mijoter le tout
// _colors.scss => provient de /wp-admin/css/colors.css (renommé en SCSS)
// _admin.scsss => provient de /wp-admin/css/colors/_admin.scss
//
// /!\  N'oubliez pas de copier /wp-admin/css/colors/_mixins.scss et /wp-admin/css/colors/_variables.scss dans le même dossier d'import d'_admin.scss cité ci-dessous /!\
// ------------------------

// @import "../_colors.scss";
@import "../_admin.scss";


// ------------------------
// Et si besoin, on édite les propriétés CSS que l'on veut
// ------------------------

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu:hover a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub:hover div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li:hover a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li.opensub:hover div.wp-menu-image:before,
.ie8 #adminmenu li.opensub div.wp-menu-image:before,
.ie8 #adminmenu li.opensub:hover div.wp-menu-image:before
{
	color: $menu-current-icon;
}

.wp-core-ui input[type="checkbox"]:focus,
.wp-core-ui input[type="color"]:focus,
.wp-core-ui input[type="date"]:focus,
.wp-core-ui input[type="datetime-local"]:focus,
.wp-core-ui input[type="datetime"]:focus,
.wp-core-ui input[type="email"]:focus,
.wp-core-ui input[type="month"]:focus,
.wp-core-ui input[type="number"]:focus,
.wp-core-ui input[type="password"]:focus,
.wp-core-ui input[type="radio"]:focus,
.wp-core-ui input[type="search"]:focus,
.wp-core-ui input[type="tel"]:focus,
.wp-core-ui input[type="text"]:focus,
.wp-core-ui input[type="time"]:focus,
.wp-core-ui input[type="url"]:focus,
.wp-core-ui input[type="week"]:focus,
.wp-core-ui select:focus,
.wp-core-ui textarea:focus
{
	border-color: $PURPLE_LIGHT;
	box-shadow: 0 0 2px rgba($PURPLE_LIGHT, 0.8);
}

.wp-core-ui input:invalid
{
	border-color: $RED;
	box-shadow: 0 0 2px rgba($RED, 0.8);
}


.wp-core-ui input:required
{
	border-color: $BEIGE_DARK;
}



